# Functions in python
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result

In [1]:
def my_function():
    print("Hello world")
my_function()

Hello world

In [2]:
#print vs return
def hello_world():
    return "Hello welcome"
value=hello_world()
print(value)

Hello welcome

# Arguments
Information can be passed into functions as arguments.

In [3]:
def my_function(fname):
    print(fname + "sangavi")
my_function("uma")

umasangavi

In [8]:
def my_function (fname, lname): #2 arguments & gets 2arguments
    print(fname+ ""+lname)      #2 arguments, but gets only1- will et error
my_function("uma","sangavi")

umasangavi

In [11]:
def hello(name,age=12):
    print("my name is {},and age is {}".format(name,age))
hello("uma")

my name is uma,and age is 12

# Arbitrary arguments

In [12]:
def hello(*args,**kwargs): *args-positional arguments, kwargs-keyword arguments
    print(args)
    print(kwargs)
hello('uma','sangavi',age=23,dob=1999)

('uma', 'sangavi')
{'age': 23, 'dob': 1999}

In [17]:
lst=['uma','sangavi']
dict_args={'age': 23,'dob': 1999}

In [18]:
hello(*lst,**dict_args)

('uma', 'sangavi')
{'age': 23, 'dob': 1999}

# *args

In [23]:
def hello(*kids):
    print("The youngest child is"+ kids [2])
hello('uma','ovi','puni') #(0,1,2)

The youngest child ispuni

# keyword arguments

In [26]:
def hello(child3,child1,child2):
    print("The youngest child is" + child2)
hello (child1="ovi",child2="uma",child3="puni")

The youngest child isuma

 # ** kwargs

In [29]:
def hello (**kid):
    print("Her last name is"+ kid["lname"])
hello(fname="uma",lname="sangavi")

Her last name issangavi

# Default parameter value
if we call the function without argument, it uses the default value:

In [31]:
def hello(country='norway'):
    print("I am from" + country)
hello("India")
hello()

I am fromIndia
I am fromnorway

# Return values
to let a function return a value, use the retun statement

In [32]:
def hello (x):
    return 5*x
print (hello(3))

15

# if condition

In [33]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

# elif condition
if the previous conditions were not true, then try this condition

In [34]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# else
The else keyword catches anything which isn't caught by the preceding conditions.

In [35]:
a = 400
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# short hand if

In [36]:
if a>b: print("a is greater than b")

a is greater than b

# one line if else statement

In [38]:
a=45
b=34
print("a")if a>b else print ("=") if a==b else print("b")

a

# logical operators
AND

In [41]:
a = 200
b = 33
c = 400
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or

In [42]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested if

In [45]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# python loops-while loops
With the while loop we can execute a set of statements as long as a condition is true.

In [46]:
i = 1 #Print i as long as i is less than 6
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# Break statement
With the break statement we can stop the loop even if the while condition is true

In [47]:
i = 1 #Exit the loop when i is 3
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# continue statement
With the continue statement we can stop the current iteration, and continue with the next

In [50]:
i = 0 #Continue to the next iteration if i is 3
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# else statement
With the else statement we can run a block of code once when the condition no longer is true

In [51]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# python for loops

In [52]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# looping through a string
Even strings are iterable objects, they contain a sequence of characters

In [53]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# The break Statement

In [57]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

# The continue statement

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# range function

In [63]:
for x in range(2,6):
    print(x)

2
3
4
5

# else in for loop 
The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [64]:
for x in range(6): #Print all numbers from 0 to 5, and print a message when the loop has ended
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [66]:
adj = ["red", "big", "tasty"] #Print each adjective for every fruit
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# python lambda

A lambda function can take any number of arguments, but can only have one expression.

In [67]:
x = lambda a : a + 10
print(x(5))

15

In [68]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [69]:
def myfunc(n): #lambda function - doubles
  return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [70]:
def myfunc(n): #lambda function - triples
  return lambda a : a * n
mytripler = myfunc(3)
print(mytripler(11))

33